.about {
  height: 100vh;
  position: relative;

  @include d-flex(center, center);

  &__image {
    margin-right: auto;
    width: 780px;
  }

  &__dir {
    background-color: $white;
    padding: 7rem;

    position: absolute;
    bottom: -18px;
    right: 0;

    width: 53%;

    &__title {
      @include text($regular, 3rem, $josefin);
      text-transform: uppercase;
    }

    &__paragraph {
      @include text($light, 1rem, $alata);
      margin-top: 2rem;
      line-height: 1.8;
      color: $dark-gray;
    }
  }
}
