.hero {
  height: 100vh;
  padding: 4rem 0;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: #0005;
    z-index: 2;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-image: url(../../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  > .wrapper {
    position: relative;
    @include d-flex(center, "");

    .box {
      border: 2px solid $white;

      width: 58%;

      padding: 3rem;
      margin-top: 6rem;

      z-index: 2;

      &__title {
        @include text($light, 5rem, $josefin);
        color: $white;
        text-transform: uppercase;
      }
    }
  }
}
